<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Steam_Account_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Steam_Account_Generator.Properties.Settings>
            <setting name="Culture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="WriteAccounts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptchaMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="CultureIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Steam_Account_Generator.Properties.Settings>
    </userSettings>
</configuration>